n8n/promo-ui-design-image-generator.workflow.json
{
  "name": "Promo UI Design Image Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "promo-ui-design-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generate-promo-ui-design",
      "name": "Generate Promo UI Design",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "webhookId": "promo-ui-design-generate"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst id = String(body.id || ('promo-ui-' + Date.now())).trim();\nconst md = body.md || {};\nconst promo = body.promo || {};\nconst design = body.design || {};\nconst output = body.output || {};\nconst model = String(body.model || 'gpt-4o-mini').trim();\nconst imageModel = String(body.imageModel || body.image_model || 'gpt-image-1').trim();\nconst n8nWebhookUrl = String(body.n8nWebhookUrl || body.n8n_webhook_url || '').trim();\nconst promptUrl = String(body.promptUrl || body.prompt_url || '').trim();\nconst template = body.template || { id: 'temp4', name: 'Template 4', generationMode: 'ai_agent', inputMode: 'simple' };\nconst simpleBrief = body.simpleBrief || {};\nconst sectionInputs = body.sectionInputs || {};\n\nconst requiredPromo = ['title', 'template', 'market', 'leadText', 'ctaLabel', 'ctaUrl', 'subline', 'termsText'];\nconst missingPromo = requiredPromo.filter((key) => !String(promo[key] || '').trim());\nif (missingPromo.length) throw new Error('Missing promo fields: ' + missingPromo.join(', '));\nif (!md.brand) throw new Error('md.brand is required');\nif (!md.designConcept && !md.designPromptContext) throw new Error('md.designConcept or md.designPromptContext is required');\n\nreturn [{\n  json: {\n    id,\n    model,\n    imageModel,\n    n8nWebhookUrl,\n    promptUrl,\n    md,\n    promo,\n    template,\n    simpleBrief,\n    sectionInputs,\n    design,\n    sourceDesign: body.sourceDesign || {},\n    styleSource: body.styleSource || '',\n    styleSourceLabel: body.styleSourceLabel || '',\n    companyPreset: body.companyPreset || null,\n    hasOverride: Boolean(body.hasOverride),\n    output: {\n      format: output.format || 'ui_design_image',\n      stage: output.stage || 'design_image_generation',\n      viewport: output.viewport || { width: 1440, minWidth: 1180, height: 2200 },\n      imageSize: output.imageSize || '1024x1536'\n    }\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Payload').item.json;\nconst promptUrl = String(input.promptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-ui-design-image-generation').trim();\n\nreturn [{\n  json: {\n    id: 'promo-ui-design-image-generation',\n    version: '2026-06-29.embedded-fallback-v1',\n    prompt: \"# Promo UI Design Image Generation Prompt\\n\\nCreate an image-generation prompt for a desktop promotional web UI design.\\n\\nReturn valid JSON only. Do not include markdown fences. Do not include explanations outside JSON.\\n\\nNON-NEGOTIABLE DESIGN RULES:\\n- Do not generate HTML or CSS.\\n- Follow Template 4 order exactly: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.\\n- Use sectionInputs as the primary source of visible content. Use promo only as fallback metadata.\\n- For visualMode auto, infer visuals from that section's own text.\\n- For visualMode use_visual, include a relevant visual.\\n- For visualMode no_visual, do not create an image area for that section.\\n- Follow the MD design concept as a binding specification: layout philosophy, visual mood, spacing rhythm, composition, components, depth/effects, shape/radius, promo page implications, dos, and donts.\\n- Do not create a generic SaaS landing page, casino template, or color/font reskin.\\n- Make the section composition and component language visibly derived from the MD.\\n- Color and font settings are constraints, but the design must not be color/font-only.\\n- Include a wireframe-aware layout mapping and an MD compliance check.\\n- Avoid unreadable tiny text. Legal/terms can be shown as condensed footer blocks but must be visibly present.\\n- Use a tall full-page canvas at {{imageSize}} so all Template 4 sections are visible from header through footer.\\n- The image should look like a polished desktop UI design mockup of a 1440px-wide page scaled to fit the tall canvas.\\n- Do not crop the bottom, do not end at the hero or middle sections, and do not omit Title and Description or Footer.\\n- If vertical space is tight, reduce section heights, visual asset sizes, whitespace, and text density before removing content.\\n- Every Template 4 section must be visible in one image: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.\\n\\nBefore writing imagePrompt, internally decide and reflect in the prompt:\\n1. The dominant MD layout model and how Temp.4 sections should be arranged.\\n2. The hero composition and visual treatment that best matches the MD.\\n3. The spacing rhythm and information density.\\n4. The component language for CTAs, step bars, panels, badges, and legal/footer.\\n5. The depth/effects model: flat, bordered, layered, image-led, restrained, glossy, editorial, etc.\\n6. Which generic patterns and MD donts must be avoided.\\n\\nReturn this JSON shape:\\n{\\n  \\\"imagePrompt\\\": \\\"single detailed prompt string with explicit section-by-section layout, visual hierarchy, component style, depth/effects, shape/radius, color/font constraints, and visible promo content\\\",\\n  \\\"negativePrompt\\\": \\\"generic landing pages, weak MD compliance, color/font-only reskins, unreadable text, missing legal footer, wrong section order, browser chrome, editor UI, Figma canvas UI\\\",\\n  \\\"designBrief\\\": {},\\n  \\\"layoutMapping\\\": {},\\n  \\\"mdComplianceMap\\\": {\\n    \\\"layoutPhilosophy\\\": \\\"...\\\",\\n    \\\"visualMood\\\": \\\"...\\\",\\n    \\\"spacingRhythm\\\": \\\"...\\\",\\n    \\\"composition\\\": \\\"...\\\",\\n    \\\"componentStyle\\\": \\\"...\\\",\\n    \\\"depthAndEffects\\\": \\\"...\\\",\\n    \\\"shapeAndRadius\\\": \\\"...\\\",\\n    \\\"promoPageImplications\\\": \\\"...\\\",\\n    \\\"dosApplied\\\": [\\\"...\\\"],\\n    \\\"dontsAvoided\\\": [\\\"...\\\"],\\n    \\\"notColorFontOnlyProof\\\": \\\"...\\\"\\n  }\\n}\\n\\nInput design brief:\\n{{designBrief}}\\n\\nSuggested field mapping:\\n{{layoutMapping}}\\n\\nRequired MD compliance keys:\\n{{mdComplianceKeys}}\\n\",\n    source: 'embedded-fallback',\n    externalPromptUrl: promptUrl\n  }\n}];"
      },
      "id": "load-ui-design-image-prompt",
      "name": "Load UI Design Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Payload').item.json;\nconst loadedPrompt = $json;\nconst concept = input.md.designConcept || {};\nconst conceptJson = concept.json || {};\nconst summary = input.md.summary || {};\nconst promptContext = input.md.designPromptContext || concept.promptContext || '';\n\nconst promptTemplate = String(\n  loadedPrompt.prompt ||\n  loadedPrompt.body?.prompt ||\n  loadedPrompt.data?.prompt ||\n  ''\n).trim();\n\nif (!promptTemplate) {\n  throw new Error('External UI design image prompt is empty');\n}\n\nconst designBrief = {\n  objective: 'Create a desktop promotional UI design image, not production HTML.',\n  brand: input.md.brand,\n  promoTitle: input.promo.title,\n  market: input.promo.market,\n  template: input.template,\n  simpleBrief: input.simpleBrief,\n  sectionInputs: input.sectionInputs,\n  selectedStyleSource: input.styleSourceLabel,\n  viewport: input.output.viewport,\n  requiredContent: {\n    promoTitle: input.promo.title,\n    leadText: input.promo.leadText,\n    ctaLabel: input.promo.ctaLabel,\n    ctaUrl: input.promo.ctaUrl,\n    subline: input.promo.subline,\n    alphaLegalText: input.promo.alphaText || '',\n    termsAndConditions: input.promo.termsText\n  },\n  designStyle: input.design,\n  mdConceptSummary: concept.summary || conceptJson.brandConcept || '',\n  mdPromptContext: promptContext,\n  mdConceptJson: conceptJson,\n  mdSummary: summary\n};\n\nconst layoutMapping = {\n  temp4Order: ['header', 'heroBanner', 'stepBar', 'contentCta', 'imageTextRow', 'titleDescription', 'footer'],\n  header: ['sectionInputs.header.logoText', 'sectionInputs.header.badgeText'],\n  hero: ['sectionInputs.heroBanner.leaderText', 'sectionInputs.heroBanner.title', 'sectionInputs.heroBanner.sublineText', 'sectionInputs.heroBanner.cta', 'sectionInputs.heroBanner.alphaText', 'sectionInputs.heroBanner.visualMode'],\n  stepBar: ['sectionInputs.stepBar[0].title/description/link', 'sectionInputs.stepBar[1].title/description/link', 'sectionInputs.stepBar[2].title/description/link'],\n  contentCta: ['sectionInputs.contentCta.longText', 'sectionInputs.contentCta.cta', 'sectionInputs.contentCta.visualMode'],\n  imageTextRow: ['sectionInputs.imageTextRow.headerTitle', 'sectionInputs.imageTextRow.headerDescription', 'sectionInputs.imageTextRow.title', 'sectionInputs.imageTextRow.description', 'sectionInputs.imageTextRow.visualMode'],\n  complianceFooter: ['sectionInputs.titleDescription.title', 'sectionInputs.titleDescription.contents', 'sectionInputs.footer.logoText', 'sectionInputs.footer.licenseBadges'],\n  note: 'Use sectionInputs as the primary content contract. VisualMode controls whether each section uses an inferred visual.'\n};\n\nconst mdComplianceKeys = [\n  'layoutPhilosophy',\n  'visualMood',\n  'spacingRhythm',\n  'composition',\n  'componentStyle',\n  'depthAndEffects',\n  'shapeAndRadius',\n  'promoPageImplications',\n  'dosApplied',\n  'dontsAvoided',\n  'notColorFontOnlyProof'\n];\n\nconst values = {\n  imageSize: input.output.imageSize || '1024x1536',\n  designBrief: JSON.stringify(designBrief, null, 2),\n  layoutMapping: JSON.stringify(layoutMapping, null, 2),\n  mdComplianceKeys: JSON.stringify(mdComplianceKeys)\n};\n\nconst render = (template, data) => template.replace(/{{\\s*([a-zA-Z0-9_]+)\\s*}}/g, (match, key) => (\n  Object.prototype.hasOwnProperty.call(data, key) ? String(data[key]) : match\n));\n\nconst system = 'You are a senior promotional UI art director. Return valid JSON only. Your job is to write a precise image-generation prompt for a desktop promotional web UI mockup. The selected MD is binding, not inspiration.';\nconst user = render(promptTemplate, values);\n\nreturn [{\n  json: {\n    ...input,\n    designBrief,\n    layoutMapping,\n    promptMeta: {\n      id: loadedPrompt.id || loadedPrompt.body?.id || 'external-promo-ui-design-image-generation',\n      version: loadedPrompt.version || loadedPrompt.body?.version || '',\n      url: input.promptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-ui-design-image-generation'\n    },\n    llmRequest: {\n      model: input.model,\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: user }\n      ],\n      temperature: 0.22,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "build-ui-design-prompt",
      "name": "Build UI Design Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build UI Design Prompt').item.json;\n\nconst requiredSections = [\n  'Selected Design MD Interpretation',\n  'Promo Content Interpretation',\n  'Section Content Mapping',\n  'MD Rule To UI Decision Mapping',\n  'Visual Direction',\n  'Compliance Checklist',\n  'Final Image Prompt Inputs'\n];\n\nconst templateSections = [\n  'Header',\n  'Hero Banner',\n  'Step Bar',\n  'Content CTA',\n  'Image Text Row',\n  'Title and Description',\n  'Footer'\n];\n\nconst integrationPrompt = [\n  'Create a detailed integrated design brief for generating a promotional web UI image.',\n  'Return valid JSON only. Do not include markdown fences or explanatory text outside JSON.',\n  '',\n  'Purpose:',\n  '- This is not a summary. It is a traceable implementation brief that proves how the selected Design MD and B-section promo builder content will shape the final UI image.',\n  '- The selected Design MD is binding. The B-section promo builder content is the primary visible content contract.',\n  '- Be specific, concrete, and section-by-section. Avoid generic descriptions such as modern, clean, premium unless they are tied to a visible UI decision.',\n  '',\n  'Source priority and conflict-resolution rules:',\n  '- Style source priority: DESIGN.md / selected Design MD decides design tokens, color, typography, radius, spacing, component language, depth/effects, and visual mood.',\n  '- Content source priority: content.md / B-section sectionInputs decides visible copy, CTA text, links, section text, legal text, and section-specific visualMode.',\n  '- Template source priority: promo-ui-design-image-generation.md decides required output format, Template 4 section order, JSON shape, and validation/compliance requirements.',\n  '- Promo metadata may be used only as fallback when sectionInputs are empty or missing.',\n  '- Design Style overrides from content.md are secondary only. Treat them as explicit overrides or fallbacks, not as a replacement for selected Design MD. Example: primary font from Design MD wins; content style font can be language fallback if needed.',\n  '- If documents conflict structurally, choose the more original and specific rule. Template 4 must keep 7 sections when Title and Description is present separately. Do not collapse it into Terms/Footer because an intermediate design prompt omitted it.',\n  '- Use non-destructive integration: do not silently discard conflicting values. Record both values, the adopted value, and the reason in a conflict-resolution section.',\n  '- Converge into one executable generation artifact: the integrated brief must prepare one imagePrompt-ready direction, negativePrompt guidance, mdComplianceMap basis, sectionInputs mapping, designStyle decisions, and a visual QA checklist.',\n  '',\n  'Full-page height and content-completeness rules:',\n  '- The final image will use a tall 1024x1536 canvas representing a full 1440px-wide desktop page scaled down to fit vertically.',\n  '- The integrated brief must plan for every Template 4 section to be visible in one image from Header through Footer.',\n  '- Do not design a cropped first viewport, hero-only view, or mid-page screenshot. The brief must describe a complete page composition.',\n  '- If content is long, preserve the content and reduce section height, visual asset size, whitespace, decorative elements, or text density instead of omitting sections.',\n  '- The Title and Description section and Footer must remain separate and visible; do not merge them into a single Terms/Footer block.',\n  '- Each section mapping must include a vertical allocation/compression note so the image-prompt step knows how to fit all content.',\n  '',\n  'Return this JSON shape:',\n  '{',\n  '  \"integratedDesignBriefMarkdown\": \"detailed markdown document string\",',\n  '  \"integratedDesignBrief\": {',\n  '    \"selectedDesignMdInterpretation\": { \"layoutModel\": \"\", \"visualMood\": \"\", \"componentLanguage\": \"\", \"spacingAndDensity\": \"\", \"depthAndEffects\": \"\", \"shapeAndRadius\": \"\", \"dos\": [], \"donts\": [] },',\n  '    \"promoContentInterpretation\": { \"primaryOffer\": \"\", \"targetAction\": \"\", \"audience\": \"\", \"requiredVisibleCopy\": [], \"legalAndTrustContent\": [] },',\n  '    \"sectionContentMapping\": {},',\n  '    \"mdRuleToUiDecisionMapping\": {},',\n  '    \"visualDirection\": { \"canvasStrategy\": \"\", \"verticalFitStrategy\": \"\", \"hero\": \"\", \"supportingVisuals\": \"\", \"colorUse\": \"\", \"typographyUse\": \"\", \"composition\": \"\" },',\n  '    \"complianceChecklist\": [],',\n  '    \"conflictResolutions\": [],',\n  '    \"finalImagePromptInputs\": { \"imagePromptDirection\": \"\", \"canvasSize\": \"1024x1536\", \"pageWidth\": \"1440px scaled to fit\", \"verticalFitStrategy\": \"\", \"negativePromptGuidance\": [], \"mustShow\": [], \"mustAvoid\": [], \"sectionOrder\": [], \"sectionInputsBasis\": {}, \"designStyleBasis\": {}, \"mdComplianceMapBasis\": {}, \"visualQaChecklist\": [] }',\n  '  }',\n  '}',\n  '',\n  'Markdown document requirements:',\n  '- Include exactly these H2 sections in this order: ' + requiredSections.join(', ') + '.',\n  '- Add an H3 named Source Priority Rules under Selected Design MD Interpretation.',\n  '- Add an H3 named Resolved Conflicts under MD Rule To UI Decision Mapping. If there are no conflicts, explicitly say no conflicts found after comparing source priority.',\n  '- Under each H2, write concrete bullets. Do not write a single paragraph only.',\n  '- Selected Design MD Interpretation must include at least 7 bullets: layout model, visual mood, component language, spacing rhythm, composition, depth/effects, shape/radius, plus dos/donts if available.',\n  '- Promo Content Interpretation must list the exact visible copy and explain which content is primary, secondary, CTA, trust/legal, and fallback metadata.',\n  '- Section Content Mapping must include one H3 for each Template 4 section in this order: ' + templateSections.join(', ') + '.',\n  '- For each Template 4 section, include: source fields, visible copy to render, visualMode decision, layout treatment, vertical allocation/compression note, MD rule applied, and fallback behavior.',\n  '- MD Rule To UI Decision Mapping must map at least 8 MD rules to concrete UI decisions. Use the format: MD rule -> UI decision -> affected sections.',\n  '- Resolved Conflicts must list conflicts using: item -> DESIGN.md value -> content.md value -> promo-ui template value -> adopted value -> reason. Include section-order conflicts, token conflicts, copy conflicts, and intermediate-output omissions when found.',\n  '- Visual Direction must describe tall-canvas strategy, vertical fit strategy, hero composition, supporting visuals, color application, typography application, component shapes, depth/effects, and information density.',\n  '- Compliance Checklist must include at least 10 checklist items that can be verified visually after image generation, including no bottom crop, all 7 sections visible, Title and Description visible, and Footer visible.',\n  '- Final Image Prompt Inputs must be a concise but complete handoff to the next LLM: one imagePrompt-ready direction, 1024x1536 canvas size, 1440px page scaling, vertical fit strategy, negativePrompt guidance, must show, must avoid, section order, composition, sectionInputs basis, designStyle basis, mdComplianceMap basis, and visual QA checklist.',\n  '- Do not invent promo copy when sectionInputs or promo fields provide it.',\n  '- Clearly state fallback usage if promo metadata is used because sectionInputs are missing.',\n  '- Minimum useful length for integratedDesignBriefMarkdown: 2500 characters.',\n  '',\n  'Input design brief JSON:',\n  JSON.stringify(input.designBrief || {}, null, 2),\n  '',\n  'Suggested layout mapping JSON:',\n  JSON.stringify(input.layoutMapping || {}, null, 2)\n].join('\\n');\n\nreturn [{\n  json: {\n    ...input,\n    integratedBriefRequest: {\n      model: input.model,\n      messages: [\n        { role: 'system', content: 'You are a senior UI design strategist and art director. Return valid JSON only. Create a detailed, traceable integrated design brief before image prompt generation.' },\n        { role: 'user', content: integrationPrompt }\n      ],\n      temperature: 0.16,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "build-integrated-design-brief-request",
      "name": "Build Integrated Design Brief Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.integratedBriefRequest) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llm-generate-integrated-design-brief",
      "name": "LLM Generate Integrated Design Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build Integrated Design Brief Request').item.json;\nconst response = $json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || response.content || response.text || response.output_text || '';\nif (!content) throw new Error('Integrated design brief response is empty');\n\nlet generated;\ntry {\n  const fence = String.fromCharCode(96, 96, 96);\n  generated = typeof content === 'string'\n    ? JSON.parse(content.replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim())\n    : content;\n} catch (error) {\n  throw new Error('Failed to parse integrated design brief JSON: ' + error.message);\n}\n\nconst markdown = String(generated.integratedDesignBriefMarkdown || '').trim();\nconst brief = generated.integratedDesignBrief || {};\nif (!markdown) throw new Error('integratedDesignBriefMarkdown is required');\nif (markdown.length < 1800) throw new Error('integratedDesignBriefMarkdown is too shallow; expected a detailed traceable brief');\nif (!brief || typeof brief !== 'object') throw new Error('integratedDesignBrief is required');\n\nconst requiredHeadings = [\n  'Selected Design MD Interpretation',\n  'Promo Content Interpretation',\n  'Section Content Mapping',\n  'MD Rule To UI Decision Mapping',\n  'Visual Direction',\n  'Compliance Checklist',\n  'Final Image Prompt Inputs'\n];\nconst missingHeadings = requiredHeadings.filter((heading) => !markdown.includes(heading));\nif (missingHeadings.length) throw new Error('Integrated design brief missing sections: ' + missingHeadings.join(', '));\n\nconst requiredTemplateSections = ['Header', 'Hero Banner', 'Step Bar', 'Content CTA', 'Image Text Row', 'Title and Description', 'Footer'];\nconst missingTemplateSections = requiredTemplateSections.filter((section) => !markdown.includes(section));\nif (missingTemplateSections.length) throw new Error('Integrated design brief missing Template 4 mappings: ' + missingTemplateSections.join(', '));\n\nconst bulletCount = (markdown.match(/(^|\\n)\\s*[-*]\\s+/g) || []).length;\nif (bulletCount < 25) throw new Error('Integrated design brief is too shallow; expected at least 25 traceability bullets');\n\nconst lowerMarkdown = markdown.toLowerCase();\nconst requiredConflictChecks = [\n  { label: 'Source Priority Rules', ok: lowerMarkdown.includes('source priority') || lowerMarkdown.includes('source-priority') },\n  { label: 'Resolved Conflicts', ok: lowerMarkdown.includes('resolved conflict') || lowerMarkdown.includes('conflict resolution') || lowerMarkdown.includes('conflicts') }\n];\nconst missingConflictTerms = requiredConflictChecks.filter((check) => !check.ok).map((check) => check.label);\nif (missingConflictTerms.length) throw new Error('Integrated design brief missing source-priority/conflict-resolution detail: ' + missingConflictTerms.join(', '));\n\nconst imagePromptInstruction = [\n  'Use this integrated design brief as the primary source of interpretation before writing the final imagePrompt.',\n  'Integrated design brief markdown:',\n  markdown\n].join('\\n');\n\nconst llmRequest = {\n  ...input.llmRequest,\n  messages: [\n    input.llmRequest.messages[0],\n    {\n      role: 'user',\n      content: [input.llmRequest.messages[1].content, '', imagePromptInstruction].join('\\n\\n')\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    ...input,\n    integratedDesignBriefMarkdown: markdown,\n    integratedDesignBrief: brief,\n    llmRequest\n  }\n}];"
      },
      "id": "parse-validate-integrated-design-brief",
      "name": "Parse Validate Integrated Design Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llmRequest) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llm-generate-image-prompt",
      "name": "LLM Generate Image Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Validate Integrated Design Brief').item.json;\nconst response = $json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || response.content || response.text || response.output_text || '';\nif (!content) throw new Error('LLM image prompt response is empty');\n\nlet generated;\ntry {\n  const fence = String.fromCharCode(96, 96, 96);\n  generated = typeof content === 'string'\n    ? JSON.parse(content.replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim())\n    : content;\n} catch (error) {\n  throw new Error('Failed to parse image prompt JSON: ' + error.message);\n}\n\nif (!String(generated.imagePrompt || '').trim()) throw new Error('imagePrompt is required');\nif (!generated.mdComplianceMap || typeof generated.mdComplianceMap !== 'object') throw new Error('mdComplianceMap is required');\nif (!generated.layoutMapping || typeof generated.layoutMapping !== 'object') throw new Error('layoutMapping is required');\n\nconst requiredCompliance = [\n  'layoutPhilosophy',\n  'visualMood',\n  'spacingRhythm',\n  'composition',\n  'componentStyle',\n  'depthAndEffects',\n  'shapeAndRadius',\n  'promoPageImplications',\n  'notColorFontOnlyProof'\n];\nconst missingCompliance = requiredCompliance.filter((key) => !String(generated.mdComplianceMap[key] || '').trim());\nif (missingCompliance.length) throw new Error('mdComplianceMap missing fields: ' + missingCompliance.join(', '));\n\nconst proof = String(generated.mdComplianceMap.notColorFontOnlyProof || '').trim();\nif (proof.length < 40) throw new Error('mdComplianceMap.notColorFontOnlyProof is too weak');\n\nconst finalPrompt = [\n  generated.imagePrompt,\n  '',\n  'Hard requirements:',\n  '- Tall full-page desktop promotional web UI mockup, 1440px-wide page scaled into a 1024x1536 canvas.',\n  '- Show the complete page from header to footer in one image; the bottom must not be cropped.',\n  '- Include visible placements for promo title, lead text, CTA button, subline, title/description content, legal text, and footer.',\n  '- No code, no browser chrome, no editor UI, no Figma canvas UI.',\n  '- Make the layout reflect the selected MD design concept, not only colors and fonts.',\n  '- Preserve all 7 Template 4 sections in order: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.',\n  '- Follow the MD layout philosophy, spacing rhythm, composition, component style, depth/effects, shape/radius, dos, and donts.',\n  '- If vertical space is tight, compress section heights and visuals instead of omitting or cropping content.',\n  generated.negativePrompt ? 'Avoid: ' + generated.negativePrompt : ''\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...input,\n    imagePrompt: finalPrompt,\n    designBrief: generated.designBrief || input.designBrief,\n    layoutMapping: generated.layoutMapping,\n    mdComplianceMap: generated.mdComplianceMap\n  }\n}];"
      },
      "id": "parse-validate-image-prompt",
      "name": "Parse Validate Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.imageModel, prompt: $json.imagePrompt, size: $json.output.imageSize || '1024x1536', n: 1 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "generate-ui-design-image",
      "name": "Generate UI Design Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Validate Image Prompt').item.json;\nconst response = $json;\nconst imageUrlFromApi = response.data?.[0]?.url || response.output?.[0]?.url || '';\nconst b64 = response.data?.[0]?.b64_json || response.output?.[0]?.b64_json || response.image?.b64_json || '';\nif (!imageUrlFromApi && !b64) throw new Error('Image generation response must include url or b64_json');\n\nconst imageDataUrl = b64 ? 'data:image/png;base64,' + b64 : '';\nconst staticData = $getWorkflowStaticData('global');\nstaticData.designs = staticData.designs || {};\nstaticData.designs[input.id] = {\n  imageUrlFromApi,\n  hasEmbeddedImage: Boolean(imageDataUrl),\n  imagePrompt: input.imagePrompt,\n  designBrief: input.designBrief,\n  layoutMapping: input.layoutMapping,\n  mdComplianceMap: input.mdComplianceMap,\n  integratedDesignBrief: input.integratedDesignBrief,\n  integratedDesignBriefMarkdown: input.integratedDesignBriefMarkdown,\n  promptMeta: input.promptMeta,\n  payload: input,\n  createdAt: new Date().toISOString()\n};\n\nconst queryPath = 'promo-ui-design-view?id=' + encodeURIComponent(input.id);\nconst sourceUrl = String(input.n8nWebhookUrl || '').trim();\nconst buildDesignUrl = (url) => {\n  if (!url) return '';\n  const replaced = url.replace(/promo-ui-design-generate\\/?(?:\\?.*)?$/, queryPath);\n  if (replaced !== url) return replaced;\n  try {\n    const parsed = new URL(url);\n    parsed.pathname = parsed.pathname.replace(/\\/$/, '').replace(/promo-ui-design-generate$/, 'promo-ui-design-view');\n    parsed.search = '?id=' + encodeURIComponent(input.id);\n    return parsed.toString();\n  } catch {\n    return url.replace(/\\/promo-ui-design-generate\\/?(?:\\?.*)?$/, '/' + queryPath);\n  }\n};\nlet designUrl = buildDesignUrl(sourceUrl);\nif (!designUrl || /promo-ui-design-generate\\/?(?:\\?.*)?$/.test(designUrl)) {\n  const headers = $('Generate Promo UI Design').item.json.headers || {};\n  const proto = headers['x-forwarded-proto'] || 'https';\n  const host = headers['x-forwarded-host'] || headers.host || '';\n  designUrl = host ? proto + '://' + host + '/webhook/' + queryPath : '/webhook/' + queryPath;\n}\nconst resultType = imageUrlFromApi || imageDataUrl ? 'image' : 'view';\n\nreturn [{\n  json: {\n    ok: true,\n    id: input.id,\n    resultType,\n    designUrl,\n    imageUrl: imageUrlFromApi || imageDataUrl || '',\n    hasEmbeddedImage: Boolean(imageDataUrl),\n    designBrief: input.designBrief,\n    layoutMapping: input.layoutMapping,\n    mdComplianceMap: input.mdComplianceMap,\n    integratedDesignBrief: input.integratedDesignBrief,\n    integratedDesignBriefMarkdown: input.integratedDesignBriefMarkdown,\n    promptMeta: input.promptMeta,\n    imagePrompt: input.imagePrompt,\n    payload: input\n  }\n}];"
      },
      "id": "store-ui-design-result",
      "name": "Store UI Design Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.assetApiUrl || 'https://promo-web-builder.vercel.app/api/promo-design-assets'}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const imageUrl = String($json.imageUrl || ''); const payload = $json.payload || {}; return JSON.stringify({ runKey: $json.id, imageUrl: imageUrl.startsWith('data:image/') ? '' : imageUrl, imageDataUrl: imageUrl.startsWith('data:image/') ? imageUrl : '', imagePrompt: $json.imagePrompt, designBrief: $json.designBrief, integratedDesignBrief: $json.integratedDesignBrief || payload.integratedDesignBrief || {}, integratedDesignBriefMarkdown: $json.integratedDesignBriefMarkdown || payload.integratedDesignBriefMarkdown || '', layoutMapping: $json.layoutMapping, mdComplianceMap: $json.mdComplianceMap, payload, resultType: $json.resultType, status: 'generated' }); })() }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "persist-ui-design-asset",
      "name": "Persist UI Design Asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Store UI Design Result').item.json;\nconst persisted = $json;\n\nreturn [{\n  json: {\n    ...original,\n    persisted: Boolean(persisted?.ok),\n    runId: persisted?.runId || '',\n    assetId: persisted?.assetId || '',\n    assetUrl: persisted?.assetUrl || '',\n    promptGroupId: persisted?.promptGroupId || '',\n    designPromptAssetId: persisted?.designPromptAssetId || '',\n    designPromptAssetUrl: persisted?.designPromptAssetUrl || '',\n    designPromptStorageKey: persisted?.designPromptStorageKey || '',\n    promoInputAssetId: persisted?.promoInputAssetId || '',\n    promoInputAssetUrl: persisted?.promoInputAssetUrl || '',\n    promoInputStorageKey: persisted?.promoInputStorageKey || '',\n    imageUrl: persisted?.imageUrl || persisted?.assetUrl || original.imageUrl || '',\n    designUrl: persisted?.designUrl || original.designUrl || '',\n    resultType: persisted?.assetUrl ? 'image' : original.resultType\n  }\n}];"
      },
      "id": "merge-persisted-ui-design-result",
      "name": "Merge Persisted UI Design Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "return-ui-design-result",
      "name": "Return UI Design Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3360,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "promo-ui-design-view",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "view-ui-design",
      "name": "View UI Design",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1540,
        520
      ],
      "webhookId": "promo-ui-design-view"
    },
    {
      "parameters": {
        "jsCode": "const id = $json.params?.id || $json.query?.id || '';\nconst staticData = $getWorkflowStaticData('global');\nconst design = staticData.designs?.[id];\nconst src = design?.imageUrlFromApi || '';\nconst title = design?.payload?.promo?.title || 'Promo UI Design';\nconst html = src\n  ? `<!doctype html><html lang='ko'><head><meta charset='utf-8'><meta name='viewport' content='width=device-width,initial-scale=1'><title>${title}</title><style>body{margin:0;background:#f6f8fc;font-family:Arial,sans-serif;color:#111827}.wrap{max-width:1540px;margin:0 auto;padding:24px}.bar{display:flex;justify-content:space-between;gap:16px;align-items:center;margin-bottom:16px}.meta{color:#64748b;font-size:13px}.frame{border:1px solid #dfe6f2;background:white;border-radius:8px;overflow:hidden;box-shadow:0 14px 40px rgba(20,35,70,.08)}img{display:block;width:100%;height:auto}</style></head><body><main class='wrap'><div class='bar'><strong>${title}</strong><span class='meta'>${id}</span></div><div class='frame'><img src='${src}' alt='Generated promo UI design'></div></main></body></html>`\n  : `<!doctype html><html lang='ko'><head><meta charset='utf-8'><title>UI design not found</title></head><body style='font-family:Arial,sans-serif;padding:40px'><h1>UI design not found</h1><p>No generated UI design was stored for id: ${id}</p></body></html>`;\nreturn [{ json: { html } }];"
      },
      "id": "read-stored-ui-design",
      "name": "Read Stored UI Design",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "render-ui-design-view",
      "name": "Render UI Design View",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2060,
        520
      ]
    }
  ],
  "connections": {
    "Generate Promo UI Design": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Load UI Design Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build UI Design Prompt": {
      "main": [
        [
          {
            "node": "Build Integrated Design Brief Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Parse Validate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate Image Prompt": {
      "main": [
        [
          {
            "node": "Generate UI Design Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UI Design Image": {
      "main": [
        [
          {
            "node": "Store UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store UI Design Result": {
      "main": [
        [
          {
            "node": "Persist UI Design Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "View UI Design": {
      "main": [
        [
          {
            "node": "Read Stored UI Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Stored UI Design": {
      "main": [
        [
          {
            "node": "Render UI Design View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load UI Design Image Prompt": {
      "main": [
        [
          {
            "node": "Build UI Design Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist UI Design Asset": {
      "main": [
        [
          {
            "node": "Merge Persisted UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Persisted UI Design Result": {
      "main": [
        [
          {
            "node": "Return UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Integrated Design Brief Request": {
      "main": [
        [
          {
            "node": "LLM Generate Integrated Design Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Integrated Design Brief": {
      "main": [
        [
          {
            "node": "Parse Validate Integrated Design Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate Integrated Design Brief": {
      "main": [
        [
          {
            "node": "LLM Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
