n8n/promo-ui-design-image-generator.workflow.json
{
  "name": "Promo UI Design Image Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "promo-ui-design-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generate-promo-ui-design",
      "name": "Generate Promo UI Design",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "webhookId": "promo-ui-design-generate"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst id = String(body.id || ('promo-ui-' + Date.now())).trim();\nconst md = body.md || {};\nconst promo = body.promo || {};\nconst design = body.design || {};\nconst output = body.output || {};\nconst model = String(body.model || 'gpt-4o-mini').trim();\nconst imageModel = String(body.imageModel || body.image_model || 'gpt-image-1').trim();\nconst n8nWebhookUrl = String(body.n8nWebhookUrl || body.n8n_webhook_url || '').trim();\nconst promptUrl = String(body.promptUrl || body.prompt_url || '').trim();\nconst integratedBriefPromptUrl = String(body.integratedBriefPromptUrl || body.integrated_brief_prompt_url || '').trim();\nconst template = body.template || { id: 'temp4', name: 'Template 4', generationMode: 'ai_agent', inputMode: 'simple' };\nconst simpleBrief = body.simpleBrief || {};\nconst sectionInputs = body.sectionInputs || {};\n\nconst requiredPromo = ['title', 'template', 'market', 'leadText', 'ctaLabel', 'ctaUrl', 'subline', 'termsText'];\nconst missingPromo = requiredPromo.filter((key) => !String(promo[key] || '').trim());\nif (missingPromo.length) throw new Error('Missing promo fields: ' + missingPromo.join(', '));\nif (!md.brand) throw new Error('md.brand is required');\nif (!md.designConcept && !md.designPromptContext) throw new Error('md.designConcept or md.designPromptContext is required');\n\nreturn [{\n  json: {\n    id,\n    model,\n    imageModel,\n    n8nWebhookUrl,\n    promptUrl,\n    integratedBriefPromptUrl,\n    md,\n    promo,\n    template,\n    simpleBrief,\n    sectionInputs,\n    design,\n    sourceDesign: body.sourceDesign || {},\n    styleSource: body.styleSource || '',\n    styleSourceLabel: body.styleSourceLabel || '',\n    companyPreset: body.companyPreset || null,\n    hasOverride: Boolean(body.hasOverride),\n    output: {\n      format: output.format || 'ui_design_image',\n      stage: output.stage || 'design_image_generation',\n      viewport: output.viewport || { width: 1440, minWidth: 1180, height: 2200 },\n      imageSize: output.imageSize || '1024x1536'\n    }\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Payload').item.json;\nconst promptUrl = String(input.promptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-ui-design-image-generation').trim();\n\nreturn [{\n  json: {\n    id: 'promo-ui-design-image-generation',\n    version: '2026-06-29.embedded-fallback-v1',\n    prompt: \"# Promo UI Design Image Generation Prompt\\n\\nCreate an image-generation prompt for a desktop promotional web UI design.\\n\\nReturn valid JSON only. Do not include markdown fences. Do not include explanations outside JSON.\\n\\nNON-NEGOTIABLE DESIGN RULES:\\n- Do not generate HTML or CSS.\\n- Follow Template 4 order exactly: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.\\n- Use sectionInputs as the primary source of visible content. Use promo only as fallback metadata.\\n- For visualMode auto, infer visuals from that section's own text.\\n- For visualMode use_visual, include a relevant visual.\\n- For visualMode no_visual, do not create an image area for that section.\\n- Follow the MD design concept as a binding specification: layout philosophy, visual mood, spacing rhythm, composition, components, depth/effects, shape/radius, promo page implications, dos, and donts.\\n- Do not create a generic SaaS landing page, casino template, or color/font reskin.\\n- Make the section composition and component language visibly derived from the MD.\\n- Color and font settings are constraints, but the design must not be color/font-only.\\n- Include a wireframe-aware layout mapping and an MD compliance check.\\n- Avoid unreadable tiny text. Legal/terms can be shown as condensed footer blocks but must be visibly present.\\n- Use a tall full-page canvas at {{imageSize}} so all Template 4 sections are visible from header through footer.\\n- The image should look like a polished desktop UI design mockup of a 1440px-wide page scaled to fit the tall canvas.\\n- Do not crop the bottom, do not end at the hero or middle sections, and do not omit Title and Description or Footer.\\n- If vertical space is tight, reduce section heights, visual asset sizes, whitespace, and text density before removing content.\\n- Every Template 4 section must be visible in one image: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.\\n\\nBefore writing imagePrompt, internally decide and reflect in the prompt:\\n1. The dominant MD layout model and how Temp.4 sections should be arranged.\\n2. The hero composition and visual treatment that best matches the MD.\\n3. The spacing rhythm and information density.\\n4. The component language for CTAs, step bars, panels, badges, and legal/footer.\\n5. The depth/effects model: flat, bordered, layered, image-led, restrained, glossy, editorial, etc.\\n6. Which generic patterns and MD donts must be avoided.\\n\\nReturn this JSON shape:\\n{\\n  \\\"imagePrompt\\\": \\\"single detailed prompt string with explicit section-by-section layout, visual hierarchy, component style, depth/effects, shape/radius, color/font constraints, and visible promo content\\\",\\n  \\\"negativePrompt\\\": \\\"generic landing pages, weak MD compliance, color/font-only reskins, unreadable text, missing legal footer, wrong section order, browser chrome, editor UI, Figma canvas UI\\\",\\n  \\\"designBrief\\\": {},\\n  \\\"layoutMapping\\\": {},\\n  \\\"mdComplianceMap\\\": {\\n    \\\"layoutPhilosophy\\\": \\\"...\\\",\\n    \\\"visualMood\\\": \\\"...\\\",\\n    \\\"spacingRhythm\\\": \\\"...\\\",\\n    \\\"composition\\\": \\\"...\\\",\\n    \\\"componentStyle\\\": \\\"...\\\",\\n    \\\"depthAndEffects\\\": \\\"...\\\",\\n    \\\"shapeAndRadius\\\": \\\"...\\\",\\n    \\\"promoPageImplications\\\": \\\"...\\\",\\n    \\\"dosApplied\\\": [\\\"...\\\"],\\n    \\\"dontsAvoided\\\": [\\\"...\\\"],\\n    \\\"notColorFontOnlyProof\\\": \\\"...\\\"\\n  }\\n}\\n\\nInput design brief:\\n{{designBrief}}\\n\\nSuggested field mapping:\\n{{layoutMapping}}\\n\\nRequired MD compliance keys:\\n{{mdComplianceKeys}}\\n\",\n    source: 'embedded-fallback',\n    externalPromptUrl: promptUrl\n  }\n}];"
      },
      "id": "load-ui-design-image-prompt",
      "name": "Load UI Design Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Payload').item.json;\nconst loadedPrompt = $json;\nconst concept = input.md.designConcept || {};\nconst conceptJson = concept.json || {};\nconst summary = input.md.summary || {};\nconst promptContext = input.md.designPromptContext || concept.promptContext || '';\n\nconst promptTemplate = String(\n  loadedPrompt.prompt ||\n  loadedPrompt.body?.prompt ||\n  loadedPrompt.data?.prompt ||\n  ''\n).trim();\n\nif (!promptTemplate) {\n  throw new Error('External UI design image prompt is empty');\n}\n\nconst designBrief = {\n  objective: 'Create a desktop promotional UI design image, not production HTML.',\n  brand: input.md.brand,\n  promoTitle: input.promo.title,\n  market: input.promo.market,\n  template: input.template,\n  simpleBrief: input.simpleBrief,\n  sectionInputs: input.sectionInputs,\n  selectedStyleSource: input.styleSourceLabel,\n  viewport: input.output.viewport,\n  requiredContent: {\n    promoTitle: input.promo.title,\n    leadText: input.promo.leadText,\n    ctaLabel: input.promo.ctaLabel,\n    ctaUrl: input.promo.ctaUrl,\n    subline: input.promo.subline,\n    alphaLegalText: input.promo.alphaText || '',\n    termsAndConditions: input.promo.termsText\n  },\n  designStyle: input.design,\n  mdConceptSummary: concept.summary || conceptJson.brandConcept || '',\n  mdPromptContext: promptContext,\n  mdConceptJson: conceptJson,\n  mdSummary: summary\n};\n\nconst layoutMapping = {\n  temp4Order: ['header', 'heroBanner', 'stepBar', 'contentCta', 'imageTextRow', 'titleDescription', 'footer'],\n  header: ['sectionInputs.header.logoText', 'sectionInputs.header.badgeText'],\n  hero: ['sectionInputs.heroBanner.leaderText', 'sectionInputs.heroBanner.title', 'sectionInputs.heroBanner.sublineText', 'sectionInputs.heroBanner.cta', 'sectionInputs.heroBanner.alphaText', 'sectionInputs.heroBanner.visualMode'],\n  stepBar: ['sectionInputs.stepBar[0].title/description/link', 'sectionInputs.stepBar[1].title/description/link', 'sectionInputs.stepBar[2].title/description/link'],\n  contentCta: ['sectionInputs.contentCta.longText', 'sectionInputs.contentCta.cta', 'sectionInputs.contentCta.visualMode'],\n  imageTextRow: ['sectionInputs.imageTextRow.headerTitle', 'sectionInputs.imageTextRow.headerDescription', 'sectionInputs.imageTextRow.title', 'sectionInputs.imageTextRow.description', 'sectionInputs.imageTextRow.visualMode'],\n  complianceFooter: ['sectionInputs.titleDescription.title', 'sectionInputs.titleDescription.contents', 'sectionInputs.footer.logoText', 'sectionInputs.footer.licenseBadges'],\n  note: 'Use sectionInputs as the primary content contract. VisualMode controls whether each section uses an inferred visual.'\n};\n\nconst mdComplianceKeys = [\n  'layoutPhilosophy',\n  'visualMood',\n  'spacingRhythm',\n  'composition',\n  'componentStyle',\n  'depthAndEffects',\n  'shapeAndRadius',\n  'promoPageImplications',\n  'dosApplied',\n  'dontsAvoided',\n  'notColorFontOnlyProof'\n];\n\nconst values = {\n  imageSize: input.output.imageSize || '1024x1536',\n  designBrief: JSON.stringify(designBrief, null, 2),\n  layoutMapping: JSON.stringify(layoutMapping, null, 2),\n  mdComplianceKeys: JSON.stringify(mdComplianceKeys)\n};\n\nconst render = (template, data) => template.replace(/{{\\s*([a-zA-Z0-9_]+)\\s*}}/g, (match, key) => (\n  Object.prototype.hasOwnProperty.call(data, key) ? String(data[key]) : match\n));\n\nconst system = 'You are a senior promotional UI art director. Return valid JSON only. Your job is to write a precise image-generation prompt for a desktop promotional web UI mockup. The selected MD is binding, not inspiration.';\nconst user = render(promptTemplate, values);\n\nreturn [{\n  json: {\n    ...input,\n    designBrief,\n    layoutMapping,\n    promptMeta: {\n      id: loadedPrompt.id || loadedPrompt.body?.id || 'external-promo-ui-design-image-generation',\n      version: loadedPrompt.version || loadedPrompt.body?.version || '',\n      url: input.promptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-ui-design-image-generation'\n    },\n    llmRequest: {\n      model: input.model,\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: user }\n      ],\n      temperature: 0.22,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "build-ui-design-prompt",
      "name": "Build UI Design Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const candidates = [$json.integratedBriefPromptUrl, $json.promptUrl, 'https://promo-web-builder.vercel.app/api/prompts/promo-integrated-design-brief-generation']; for (const value of candidates) { try { const parsed = new URL(String(value || '')); return parsed.origin + '/api/promo-design-markdown-preview'; } catch {} } return 'https://promo-web-builder.vercel.app/api/promo-design-markdown-preview'; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runKey: $json.id, promptGroupId: $json.promptGroupId || '', generatedAt: $json.generatedAt || new Date().toISOString(), payload: $json }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "build-source-markdown-preview",
      "name": "Build Source Markdown Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{$json.integratedBriefPromptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-integrated-design-brief-generation'}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "load-integrated-design-brief-prompt",
      "name": "Load Integrated Design Brief Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build Source Markdown Preview').item.json;\nconst loadedPrompt = $json;\n\nconst promptTemplate = String(\n  loadedPrompt.prompt ||\n  loadedPrompt.body?.prompt ||\n  loadedPrompt.data?.prompt ||\n  ''\n).trim();\n\nif (!promptTemplate) {\n  throw new Error('External integrated design brief prompt is empty');\n}\n\nconst designPromptMarkdown = String(input.designPromptMarkdown || '').trim();\nconst sectionInputLogMarkdown = String(input.sectionInputLogMarkdown || '').trim();\nif (!designPromptMarkdown) throw new Error('Design Prompt MD markdown is required');\nif (!sectionInputLogMarkdown) throw new Error('Section Input Log MD markdown is required');\n\nconst render = (template, data) => template.replace(/{{\\s*([a-zA-Z0-9_]+)\\s*}}/g, (match, key) => (\n  Object.prototype.hasOwnProperty.call(data, key) ? String(data[key]) : match\n));\n\nconst values = {\n  runKey: input.id,\n  promptGroupId: input.promptGroupId || '',\n  promoTitle: input.promo?.title || '',\n  selectedMd: input.md?.brand || '',\n  selectedMdSlug: input.md?.slug || '',\n  templateName: input.template?.name || input.template?.id || 'Template 4',\n  canvasSize: input.output?.imageSize || '1024x1536',\n  pageWidth: String(input.output?.viewport?.width || 1440) + 'px scaled to fit',\n  designPromptMarkdown,\n  sectionInputLogMarkdown\n};\n\nconst integrationPrompt = render(promptTemplate, values);\n\nreturn [{\n  json: {\n    ...input,\n    designPromptMarkdown,\n    sectionInputLogMarkdown,\n    integratedBriefPromptMeta: {\n      id: loadedPrompt.id || loadedPrompt.body?.id || 'promo-integrated-design-brief-generation',\n      version: loadedPrompt.version || loadedPrompt.body?.version || '',\n      url: input.integratedBriefPromptUrl || 'https://promo-web-builder.vercel.app/api/prompts/promo-integrated-design-brief-generation'\n    },\n    integratedBriefRequest: {\n      model: input.model,\n      messages: [\n        { role: 'system', content: 'You are a senior UI design strategist and art director. Return valid JSON only. Create a complete, self-contained execution specification, not a summary. Use only the two source markdown documents provided in the user prompt.' },\n        { role: 'user', content: integrationPrompt }\n      ],\n      temperature: 0.16,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "build-integrated-design-brief-request",
      "name": "Build Integrated Design Brief Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.integratedBriefRequest) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llm-generate-integrated-design-brief",
      "name": "LLM Generate Integrated Design Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build Integrated Design Brief Request').item.json;\nconst response = $json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || response.content || response.text || response.output_text || '';\nif (!content) throw new Error('Integrated design brief response is empty');\n\nlet generated;\ntry {\n  const fence = String.fromCharCode(96, 96, 96);\n  generated = typeof content === 'string'\n    ? JSON.parse(content.replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim())\n    : content;\n} catch (error) {\n  throw new Error('Failed to parse integrated design brief JSON: ' + error.message);\n}\n\nconst markdown = String(generated.integratedDesignBriefMarkdown || '').trim();\nconst brief = generated.integratedDesignBrief || {};\nif (!markdown) throw new Error('integratedDesignBriefMarkdown is required');\nif (markdown.length < 6000) throw new Error('Integrated design brief is too short; expected a complete self-contained request document');\nif (!brief || typeof brief !== 'object') throw new Error('integratedDesignBrief is required');\n\nconst requiredHeadings = [\n  '# Integrated Design Brief MD',\n  '## Source Priority Rules',\n  '## Resolved Conflicts',\n  '## Non-Negotiable Rules',\n  '## MD Compliance Map',\n  '## Design Token Application',\n  '## Section Content Mapping',\n  '## Token-to-Section Application',\n  '## Design Style Basis',\n  '## Visual Direction',\n  '## Final Image Prompt Inputs',\n  '## Negative Prompt',\n  '## Visual QA Checklist'\n];\nconst missingHeadings = requiredHeadings.filter((heading) => !markdown.includes(heading));\nif (missingHeadings.length) throw new Error('Integrated design brief missing sections: ' + missingHeadings.join(', '));\n\nconst requiredTemplateSections = ['### Header', '### Hero Banner', '### Step Bar', '### Content CTA', '### Image Text Row', '### Title and Description', '### Footer'];\nconst missingTemplateSections = requiredTemplateSections.filter((section) => !markdown.includes(section));\nif (missingTemplateSections.length) throw new Error('Integrated design brief missing Template 4 mappings: ' + missingTemplateSections.join(', '));\n\nconst bulletCount = (markdown.match(/(^|\\n)\\s*[-*]\\s+/g) || []).length;\nif (bulletCount < 25) throw new Error('Integrated design brief is too shallow; expected at least 25 traceability bullets');\n\nconst lowerMarkdown = markdown.toLowerCase();\nconst requiredConflictChecks = [\n  { label: 'Source Priority Rules', ok: lowerMarkdown.includes('source priority') || lowerMarkdown.includes('source-priority') },\n  { label: 'Resolved Conflicts', ok: lowerMarkdown.includes('resolved conflict') || lowerMarkdown.includes('conflict resolution') || lowerMarkdown.includes('conflicts') }\n];\nconst missingConflictTerms = requiredConflictChecks.filter((check) => !check.ok).map((check) => check.label);\nif (missingConflictTerms.length) throw new Error('Integrated design brief missing source-priority/conflict-resolution detail: ' + missingConflictTerms.join(', '));\n\nconst forbiddenReferencePhrases = [\n  'refer to design prompt md',\n  'see design prompt md',\n  'refer to section input log',\n  'see section input log',\n  'refer to the design prompt',\n  'refer to the section input'\n];\nconst usedForbiddenReferences = forbiddenReferencePhrases.filter((phrase) => lowerMarkdown.includes(phrase));\nif (usedForbiddenReferences.length) throw new Error('Integrated design brief contains forbidden reference phrasing: ' + usedForbiddenReferences.join(', '));\n\nconst imagePromptInstruction = [\n  'Create the final image-generation prompt using only the integrated design brief below.',\n  'Do not rely on the original DESIGN.md, content.md, designBrief JSON, layoutMapping JSON, or any other external context.',\n  'The integrated design brief is the single source of truth. If a detail is not in this brief, do not invent it except for minor visual polish.',\n  'All visible UI copy in the generated design must be English only. Do not render Korean or any other non-English UI text.',\n  '',\n  'Return valid JSON only. Do not include markdown fences or explanations outside JSON.',\n  '',\n  'Return this JSON shape:',\n  '{',\n  '  \"imagePrompt\": \"single detailed prompt string for a browserless desktop promotional web UI mockup scaled into the bitmap export; it must explicitly include all 7 Template 4 sections, English-only visible copy, web page hierarchy, navigation/header cues, CTA components, section containers, grid rhythm, vertical fit strategy, component style, depth/effects, shape/radius, color/font constraints, and footer/legal content\",',\n  '  \"negativePrompt\": \"poster, flyer, brochure, print ad, presentation slide, magazine cover, single centered key visual, decorative poster typography, paper margins, cropped bottom, missing footer, missing Title and Description, hero-only screenshot, middle-page screenshot, generic landing page, weak MD compliance, color/font-only reskin, unreadable text, non-English UI copy, Korean text, wrong section order, browser chrome, editor UI, Figma canvas UI\",',\n  '  \"designBrief\": { \"source\": \"integratedDesignBriefOnly\", \"summary\": \"brief summary of the integrated design brief used\" },',\n  '  \"layoutMapping\": { \"source\": \"integratedDesignBriefOnly\", \"sections\": {} },',\n  '  \"mdComplianceMap\": {',\n  '    \"layoutPhilosophy\": \"...\",',\n  '    \"visualMood\": \"...\",',\n  '    \"spacingRhythm\": \"...\",',\n  '    \"composition\": \"...\",',\n  '    \"componentStyle\": \"...\",',\n  '    \"depthAndEffects\": \"...\",',\n  '    \"shapeAndRadius\": \"...\",',\n  '    \"promoPageImplications\": \"...\",',\n  '    \"dosApplied\": [\"...\"],',\n  '    \"dontsAvoided\": [\"...\"],',\n  '    \"notColorFontOnlyProof\": \"...\"',\n  '  }',\n  '}',\n  '',\n  'Integrated design brief markdown:',\n  markdown\n].join('\\n');\n\nconst llmRequest = {\n  model: input.model,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a senior promotional UI art director. Return valid JSON only. Use only the integrated design brief as the source of truth for the final image-generation prompt.'\n    },\n    { role: 'user', content: imagePromptInstruction }\n  ],\n  temperature: 0.2,\n  response_format: { type: 'json_object' }\n};\n\nreturn [{\n  json: {\n    ...input,\n    integratedDesignBriefMarkdown: markdown,\n    integratedDesignBrief: brief,\n    llmRequest\n  }\n}];"
      },
      "id": "parse-validate-integrated-design-brief",
      "name": "Parse Validate Integrated Design Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llmRequest) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llm-generate-image-prompt",
      "name": "LLM Generate Image Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Validate Integrated Design Brief').item.json;\nconst response = $json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || response.content || response.text || response.output_text || '';\nif (!content) throw new Error('LLM image prompt response is empty');\n\nlet generated;\ntry {\n  const fence = String.fromCharCode(96, 96, 96);\n  generated = typeof content === 'string'\n    ? JSON.parse(content.replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim())\n    : content;\n} catch (error) {\n  throw new Error('Failed to parse image prompt JSON: ' + error.message);\n}\n\nif (!String(generated.imagePrompt || '').trim()) throw new Error('imagePrompt is required');\nif (!generated.mdComplianceMap || typeof generated.mdComplianceMap !== 'object') throw new Error('mdComplianceMap is required');\nif (!generated.layoutMapping || typeof generated.layoutMapping !== 'object') throw new Error('layoutMapping is required');\n\nconst requiredCompliance = [\n  'layoutPhilosophy',\n  'visualMood',\n  'spacingRhythm',\n  'composition',\n  'componentStyle',\n  'depthAndEffects',\n  'shapeAndRadius',\n  'promoPageImplications',\n  'notColorFontOnlyProof'\n];\nconst missingCompliance = requiredCompliance.filter((key) => !String(generated.mdComplianceMap[key] || '').trim());\nif (missingCompliance.length) throw new Error('mdComplianceMap missing fields: ' + missingCompliance.join(', '));\n\nlet proof = String(generated.mdComplianceMap.notColorFontOnlyProof || '').trim();\nif (proof.length < 40) {\n  proof = [\n    'The design is derived from the integrated design brief beyond color and font choices:',\n    'it applies the selected MD layout philosophy, section order, spacing rhythm, component language, depth/effects, shape/radius rules, full-page vertical fit strategy, and Template 4 content mapping.'\n  ].join(' ');\n  generated.mdComplianceMap.notColorFontOnlyProof = proof;\n}\n\nconst finalPrompt = [\n  generated.imagePrompt,\n  '',\n  'Hard requirements:',\n  '- Browserless desktop promotional web UI mockup: treat 1024x1536 as bitmap export size, not as a poster artboard or real page proportion.',\n  '- Show the complete page from header to footer in one image; the bottom must not be cropped.',\n  '- Include visible placements for promo title, lead text, CTA button, subline, title/description content, legal text, and footer, all in English.',\n  '- No code, no browser chrome, no editor UI, no Figma canvas UI. Avoid print-design signals: no poster, flyer, brochure, presentation slide, magazine cover, single centered key visual, decorative poster typography, or paper margins.',\n  '- Make the layout reflect the selected MD design concept, not only colors and fonts.',\n  '- Preserve all 7 Template 4 sections in order: Header, Hero Banner, Step Bar, Content CTA, Image Text Row, Title and Description, Footer.',\n  '- Follow the MD layout philosophy, spacing rhythm, composition, component style, depth/effects, shape/radius, dos, and donts.',\n  '- If vertical space is tight, compress section heights and visuals instead of omitting or cropping content.',\n  '- Render all visible UI text in English only; do not include Korean or any other non-English text.',\n  generated.negativePrompt ? 'Avoid: ' + generated.negativePrompt : ''\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...input,\n    imagePrompt: finalPrompt,\n    designBrief: generated.designBrief || input.designBrief,\n    layoutMapping: generated.layoutMapping,\n    mdComplianceMap: generated.mdComplianceMap\n  }\n}];"
      },
      "id": "parse-validate-image-prompt",
      "name": "Parse Validate Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.imageModel, prompt: $json.imagePrompt, size: $json.output.imageSize || '1024x1536', n: 1 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "generate-ui-design-image",
      "name": "Generate UI Design Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Validate Image Prompt').item.json;\nconst response = $json;\nconst imageUrlFromApi = response.data?.[0]?.url || response.output?.[0]?.url || '';\nconst b64 = response.data?.[0]?.b64_json || response.output?.[0]?.b64_json || response.image?.b64_json || '';\nif (!imageUrlFromApi && !b64) throw new Error('Image generation response must include url or b64_json');\n\nconst imageDataUrl = b64 ? 'data:image/png;base64,' + b64 : '';\nconst staticData = $getWorkflowStaticData('global');\nstaticData.designs = staticData.designs || {};\nstaticData.designs[input.id] = {\n  imageUrlFromApi,\n  hasEmbeddedImage: Boolean(imageDataUrl),\n  imagePrompt: input.imagePrompt,\n  designBrief: input.designBrief,\n  layoutMapping: input.layoutMapping,\n  mdComplianceMap: input.mdComplianceMap,\n  integratedDesignBrief: input.integratedDesignBrief,\n  integratedDesignBriefMarkdown: input.integratedDesignBriefMarkdown,\n  promptMeta: input.promptMeta,\n  payload: input,\n  createdAt: new Date().toISOString()\n};\n\nconst queryPath = 'promo-ui-design-view?id=' + encodeURIComponent(input.id);\nconst sourceUrl = String(input.n8nWebhookUrl || '').trim();\nconst buildDesignUrl = (url) => {\n  if (!url) return '';\n  const replaced = url.replace(/promo-ui-design-generate\\/?(?:\\?.*)?$/, queryPath);\n  if (replaced !== url) return replaced;\n  try {\n    const parsed = new URL(url);\n    parsed.pathname = parsed.pathname.replace(/\\/$/, '').replace(/promo-ui-design-generate$/, 'promo-ui-design-view');\n    parsed.search = '?id=' + encodeURIComponent(input.id);\n    return parsed.toString();\n  } catch {\n    return url.replace(/\\/promo-ui-design-generate\\/?(?:\\?.*)?$/, '/' + queryPath);\n  }\n};\nlet designUrl = buildDesignUrl(sourceUrl);\nif (!designUrl || /promo-ui-design-generate\\/?(?:\\?.*)?$/.test(designUrl)) {\n  const headers = $('Generate Promo UI Design').item.json.headers || {};\n  const proto = headers['x-forwarded-proto'] || 'https';\n  const host = headers['x-forwarded-host'] || headers.host || '';\n  designUrl = host ? proto + '://' + host + '/webhook/' + queryPath : '/webhook/' + queryPath;\n}\nconst resultType = imageUrlFromApi || imageDataUrl ? 'image' : 'view';\n\nreturn [{\n  json: {\n    ok: true,\n    id: input.id,\n    resultType,\n    designUrl,\n    imageUrl: imageUrlFromApi || imageDataUrl || '',\n    hasEmbeddedImage: Boolean(imageDataUrl),\n    designBrief: input.designBrief,\n    layoutMapping: input.layoutMapping,\n    mdComplianceMap: input.mdComplianceMap,\n    integratedDesignBrief: input.integratedDesignBrief,\n    integratedDesignBriefMarkdown: input.integratedDesignBriefMarkdown,\n    promptMeta: input.promptMeta,\n    imagePrompt: input.imagePrompt,\n    payload: input\n  }\n}];"
      },
      "id": "store-ui-design-result",
      "name": "Store UI Design Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.assetApiUrl || 'https://promo-web-builder.vercel.app/api/promo-design-assets'}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const imageUrl = String($json.imageUrl || ''); const payload = $json.payload || {}; return JSON.stringify({ runKey: $json.id, imageUrl: imageUrl.startsWith('data:image/') ? '' : imageUrl, imageDataUrl: imageUrl.startsWith('data:image/') ? imageUrl : '', imagePrompt: $json.imagePrompt, designBrief: $json.designBrief, integratedDesignBrief: $json.integratedDesignBrief || payload.integratedDesignBrief || {}, integratedDesignBriefMarkdown: $json.integratedDesignBriefMarkdown || payload.integratedDesignBriefMarkdown || '', layoutMapping: $json.layoutMapping, mdComplianceMap: $json.mdComplianceMap, payload, resultType: $json.resultType, status: 'generated' }); })() }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "persist-ui-design-asset",
      "name": "Persist UI Design Asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Store UI Design Result').item.json;\nconst persisted = $json;\n\nreturn [{\n  json: {\n    ...original,\n    persisted: Boolean(persisted?.ok),\n    runId: persisted?.runId || '',\n    assetId: persisted?.assetId || '',\n    assetUrl: persisted?.assetUrl || '',\n    promptGroupId: persisted?.promptGroupId || '',\n    designPromptAssetId: persisted?.designPromptAssetId || '',\n    designPromptAssetUrl: persisted?.designPromptAssetUrl || '',\n    designPromptStorageKey: persisted?.designPromptStorageKey || '',\n    promoInputAssetId: persisted?.promoInputAssetId || '',\n    promoInputAssetUrl: persisted?.promoInputAssetUrl || '',\n    promoInputStorageKey: persisted?.promoInputStorageKey || '',\n    integratedBriefAssetId: persisted?.integratedBriefAssetId || '',\n    integratedBriefAssetUrl: persisted?.integratedBriefAssetUrl || '',\n    integratedBriefStorageKey: persisted?.integratedBriefStorageKey || '',\n    committedAt: persisted?.committedAt || original.committedAt || '',\n    timestampStamp: persisted?.timestampStamp || original.timestampStamp || '',\n    imageUrl: persisted?.imageUrl || persisted?.assetUrl || original.imageUrl || '',\n    designUrl: persisted?.designUrl || original.designUrl || '',\n    resultType: persisted?.assetUrl ? 'image' : original.resultType\n  }\n}];"
      },
      "id": "merge-persisted-ui-design-result",
      "name": "Merge Persisted UI Design Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "return-ui-design-result",
      "name": "Return UI Design Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3480,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "promo-ui-design-view",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "view-ui-design",
      "name": "View UI Design",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1540,
        520
      ],
      "webhookId": "promo-ui-design-view"
    },
    {
      "parameters": {
        "jsCode": "const id = $json.params?.id || $json.query?.id || '';\nconst staticData = $getWorkflowStaticData('global');\nconst design = staticData.designs?.[id];\nconst src = design?.imageUrlFromApi || '';\nconst title = design?.payload?.promo?.title || 'Promo UI Design';\nconst stampDate = new Date(design?.createdAt || Date.now());\nconst padStamp = (value) => String(value).padStart(2, '0');\nconst stamp = String(stampDate.getFullYear()).slice(-2) + padStamp(stampDate.getMonth() + 1) + padStamp(stampDate.getDate()) + padStamp(stampDate.getHours()) + padStamp(stampDate.getMinutes());\nconst html = src\n  ? `<!doctype html><html lang='ko'><head><meta charset='utf-8'><meta name='viewport' content='width=device-width,initial-scale=1'><title>${title}</title><style>body{margin:0;background:#f6f8fc;font-family:Arial,sans-serif;color:#111827}.wrap{max-width:1540px;margin:0 auto;padding:24px}.bar{display:flex;justify-content:space-between;gap:16px;align-items:center;margin-bottom:16px}.title-row{display:flex;align-items:center;gap:8px}.stamp{display:inline-flex;align-items:center;min-height:20px;padding:2px 7px;border:1px solid #dbe3ef;border-radius:999px;background:#fff;color:#64748b;font-size:11px;font-weight:700}.meta{color:#64748b;font-size:13px}img{display:block;width:100%;height:auto;background:#fff}</style></head><body><main class='wrap'><div class='bar'><div class='title-row'><strong>${title}</strong><span class='stamp'>${stamp}</span></div><span class='meta'>${id}</span></div><img src='${src}' alt='Generated promo UI design'></main></body></html>`\n  : `<!doctype html><html lang='ko'><head><meta charset='utf-8'><title>UI design not found</title></head><body style='font-family:Arial,sans-serif;padding:40px'><h1>UI design not found</h1><p>No generated UI design was stored for id: ${id}</p></body></html>`;\nreturn [{ json: { html } }];"
      },
      "id": "read-stored-ui-design",
      "name": "Read Stored UI Design",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "render-ui-design-view",
      "name": "Render UI Design View",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2060,
        520
      ]
    }
  ],
  "connections": {
    "Generate Promo UI Design": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Load UI Design Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build UI Design Prompt": {
      "main": [
        [
          {
            "node": "Build Source Markdown Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Parse Validate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate Image Prompt": {
      "main": [
        [
          {
            "node": "Generate UI Design Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UI Design Image": {
      "main": [
        [
          {
            "node": "Store UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store UI Design Result": {
      "main": [
        [
          {
            "node": "Persist UI Design Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "View UI Design": {
      "main": [
        [
          {
            "node": "Read Stored UI Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Stored UI Design": {
      "main": [
        [
          {
            "node": "Render UI Design View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load UI Design Image Prompt": {
      "main": [
        [
          {
            "node": "Build UI Design Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist UI Design Asset": {
      "main": [
        [
          {
            "node": "Merge Persisted UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Persisted UI Design Result": {
      "main": [
        [
          {
            "node": "Return UI Design Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Integrated Design Brief Request": {
      "main": [
        [
          {
            "node": "LLM Generate Integrated Design Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Integrated Design Brief": {
      "main": [
        [
          {
            "node": "Parse Validate Integrated Design Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate Integrated Design Brief": {
      "main": [
        [
          {
            "node": "LLM Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Integrated Design Brief Prompt": {
      "main": [
        [
          {
            "node": "Build Integrated Design Brief Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source Markdown Preview": {
      "main": [
        [
          {
            "node": "Load Integrated Design Brief Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
