n8n/promo-ai-page-generator.workflow.json
{
  "name": "Promo AI Desktop Page Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "promo-ai-page-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a4cf8fd-9a08-4ad9-8fc1-9944f4e86a01",
      "name": "Generate AI Promo Page",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        -120
      ],
      "webhookId": "promo-ai-page-generate"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst id = String(body.id || `promo-ai-${Date.now()}`).trim();\nconst md = body.md || {};\nconst promo = body.promo || {};\nconst design = body.design || {};\nconst output = body.output || {};\nconst model = String(body.model || 'gpt-4o-mini').trim();\n\nconst requiredPromo = ['title', 'template', 'market', 'leadText', 'ctaLabel', 'ctaUrl', 'subline', 'termsText'];\nconst missingPromo = requiredPromo.filter((key) => !String(promo[key] || '').trim());\nif (missingPromo.length) throw new Error(`Missing promo fields: ${missingPromo.join(', ')}`);\nif (!md.brand) throw new Error('md.brand is required');\nif (!md.designConcept && !md.designPromptContext) throw new Error('md.designConcept or md.designPromptContext is required');\n\nreturn [{\n  json: {\n    id,\n    model,\n    md,\n    promo,\n    design,\n    sourceDesign: body.sourceDesign || {},\n    styleSource: body.styleSource || '',\n    styleSourceLabel: body.styleSourceLabel || '',\n    companyPreset: body.companyPreset || null,\n    hasOverride: Boolean(body.hasOverride),\n    output: {\n      format: output.format || 'desktop_web_page',\n      viewport: output.viewport || { width: 1440, minWidth: 1180 }\n    }\n  }\n}];"
      },
      "id": "8311aa56-2961-4a54-b611-03011de1c6ef",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst concept = input.md.designConcept || {};\nconst conceptJson = concept.json || {};\nconst promptContext = input.md.designPromptContext || concept.promptContext || '';\nconst summary = input.md.summary || {};\n\nconst system = 'You are a senior promotional landing page designer and frontend engineer. Return valid JSON only.';\nconst user = `Create a desktop promotional web page using the selected design markdown analysis and promo inputs.\n\nReturn valid JSON only. Do not include markdown fences. Do not include explanations outside JSON.\n\nPriority rules:\n1. The promo input fields are the source of page content and must be visible in the page.\n2. The selected MD design concept controls layout, visual mood, section rhythm, depth/effects, component style, shape/radius, and overall composition.\n3. The final color/font style controls actual CSS color and typography values.\n4. If styleSource is company_default, use company color/font values but still follow the MD's layout/effects/component concept.\n5. If styleSource is design_md, use the MD-derived color/font values and MD concept together.\n6. Legal/terms text must be visible, readable, and visually subordinate.\n7. Generate for desktop first: 1440px viewport, minimum content width 1180px.\n8. Do not use external JavaScript. Do not include script tags. Do not include inline event handlers.\n9. CSS must be scoped under .promo-generated-page where practical.\n10. Use Pretendard as the Korean/default web font unless the final style specifies another font.\n\nSelected MD:\n- brand: ${input.md.brand}\n- slug: ${input.md.slug || ''}\n- design concept summary: ${concept.summary || conceptJson.brandConcept || ''}\n- design prompt context:\\n${promptContext}\n- concept JSON:\\n${JSON.stringify(conceptJson, null, 2)}\n- extracted categories: ${JSON.stringify(summary.categories || [])}\n- extracted colors: ${JSON.stringify(summary.colors || [])}\n- extracted fonts: ${JSON.stringify(summary.fonts || [])}\n\nPromo inputs:\\n${JSON.stringify(input.promo, null, 2)}\n\nFinal color/font style:\\n${JSON.stringify(input.design, null, 2)}\n\nStyle source:\n- styleSource: ${input.styleSource}\n- styleSourceLabel: ${input.styleSourceLabel}\n- companyPreset: ${input.companyPreset || ''}\n- hasOverride: ${input.hasOverride}\n\nRequired JSON schema:\n{\n  \"designIntent\": \"Short Korean explanation of how the MD concept was translated into the page.\",\n  \"layoutSummary\": \"Short Korean summary of hero, sections, CTA, and legal layout.\",\n  \"html\": \"HTML body content only. Start with <main class='promo-generated-page'> and do not include html/head/body tags.\",\n  \"css\": \"CSS string. Include responsive desktop-safe CSS and @import for Pretendard if needed.\",\n  \"qualityChecks\": [\"Concrete check that was satisfied.\"]\n}`;\n\nreturn [{\n  json: {\n    ...input,\n    llmRequest: {\n      model: input.model,\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: user }\n      ],\n      temperature: 0.45,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "de6dfb05-21bd-46d5-9b95-e34ef7fb4547",
      "name": "Build Page Generation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY_OR_USE_CREDENTIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llmRequest) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "4e47dfb4-90ac-4389-a68c-c467a5044eb6",
      "name": "LLM Generate Promo Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build Page Generation Prompt').item.json;\nconst response = $json;\nconst content = response.choices?.[0]?.message?.content || response.message?.content || response.content || response.text || response.output_text || '';\nif (!content) throw new Error('LLM response content is empty');\n\nlet generated;\ntry {\n  generated = typeof content === 'string'\n    ? JSON.parse(content.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim())\n    : content;\n} catch (error) {\n  throw new Error(`Failed to parse LLM JSON: ${error.message}`);\n}\n\nif (!generated.html || !generated.css) throw new Error('LLM JSON must include html and css');\n\nconst stripDangerous = (value) => String(value || '')\n  .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/\\son[a-z]+\\s*=\\s*(['\"]).*?\\1/gi, '')\n  .replace(/javascript:/gi, '');\n\nconst htmlBody = stripDangerous(generated.html);\nconst css = stripDangerous(generated.css);\nconst title = String(input.promo.title || 'Promo Page').replace(/[<>]/g, '');\nconst fullHtml = `<!doctype html><html lang='ko'><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'><title>${title}</title><style>${css}</style></head><body>${htmlBody}</body></html>`;\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pages = staticData.pages || {};\nstaticData.pages[input.id] = {\n  html: fullHtml,\n  payload: input,\n  designIntent: generated.designIntent || '',\n  layoutSummary: generated.layoutSummary || '',\n  qualityChecks: generated.qualityChecks || [],\n  createdAt: new Date().toISOString()\n};\n\nconst headers = $('Generate AI Promo Page').item.json.headers || {};\nconst proto = headers['x-forwarded-proto'] || 'https';\nconst host = headers['x-forwarded-host'] || headers.host || '';\nconst pageUrl = host ? `${proto}://${host}/webhook/promo-ai-page-view/${encodeURIComponent(input.id)}` : `/webhook/promo-ai-page-view/${encodeURIComponent(input.id)}`;\n\nreturn [{\n  json: {\n    ok: true,\n    id: input.id,\n    pageUrl,\n    designIntent: generated.designIntent || '',\n    layoutSummary: generated.layoutSummary || '',\n    qualityChecks: generated.qualityChecks || [],\n    payload: input\n  }\n}];"
      },
      "id": "ed1c16d3-b2b0-4eb3-8f3f-4f286c84fb37",
      "name": "Parse Validate Store Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "bf13774b-44e1-46a1-b261-85e55b687044",
      "name": "Return AI Page URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        -120
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "promo-ai-page-view/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4df890d-59e8-44d7-9fbb-e2e35e9733a5",
      "name": "View AI Promo Page",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        180
      ],
      "webhookId": "promo-ai-page-view"
    },
    {
      "parameters": {
        "jsCode": "const id = $json.params?.id || $json.query?.id || '';\nconst staticData = $getWorkflowStaticData('global');\nconst page = staticData.pages?.[id];\nconst html = page?.html || `<!doctype html><html lang='ko'><head><meta charset='utf-8'><title>Promo page not found</title></head><body style='font-family:Arial,sans-serif;padding:40px'><h1>Promo page not found</h1><p>No generated page was stored for id: ${id}</p></body></html>`;\nreturn [{ json: { html } }];"
      },
      "id": "396d6502-66dd-451c-a694-211a37383d66",
      "name": "Read Stored AI Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "e4f1ccaf-a912-4244-93de-66ad772e5c7e",
      "name": "Render AI HTML Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        180
      ]
    }
  ],
  "connections": {
    "Generate AI Promo Page": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Build Page Generation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page Generation Prompt": {
      "main": [
        [
          {
            "node": "LLM Generate Promo Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Promo Page": {
      "main": [
        [
          {
            "node": "Parse Validate Store Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate Store Page": {
      "main": [
        [
          {
            "node": "Return AI Page URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "View AI Promo Page": {
      "main": [
        [
          {
            "node": "Read Stored AI Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Stored AI Page": {
      "main": [
        [
          {
            "node": "Render AI HTML Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-25T00:00:00.000Z",
  "versionId": "promo-ai-page-generator-v1"
}
